<md-grid-list cols="3" rowHeight="2:3">
    <md-grid-tile *ngFor="let message of (myData ? myData.slice(0, 10) : []); let i = index;">
        <md-card>
            <img md-card-image src="{{ message.url }}">
            <md-card-header>
                <md-card-title>{{ message.title }}</md-card-title>
            </md-card-header>

            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
            <!-- <md-card-content>{{ textMessage.text }}</md-card-content> -->
        </md-card>
    </md-grid-tile>
</md-grid-list>
